{% extends "blogs/base.html" %}
{% load l10n %}
{% block main %}
<h2>詳細ページ</h2><br>

<div class="jumbotron bg-white">
    <table class="table">
        <tr>
          <th>タイトル</th>
          <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>内容</th>
            <td>{{ post.body }}</td>
        </tr>
        <tr>
            <th>カテゴリー</th>
            <td>{{ post.category }}</td>
        </tr>
        <tr>
            <th>更新日</th>
            <td><time>{{ post.updated }}</time></td>
        </tr>
    </table>
    <a href="{% url 'update' post_id=post.id %}" class="btn btn-success">編集</a>
    <a href="{% url 'delete' post_id=post.id %}" class="btn btn-danger">削除</a><br><hr>
    <a href="{% url 'index' %}" class="btn btn-info">一覧へ戻る</a>
</div>
  

{% endblock %}